<div class= "float-right mt-3 mb-2">
    <a [routerLink]="['/produtos/novo']" class="btn btn-primary"> Novo </a>
</div>

<!-- <p>
    <button class="btn btn-primary mt-3" (click)="onTabelaClick()"> Tabela </button>
</p> -->

<table class="table" *ngIf=" isShow == true "> 
    <tr>
        <th> ID </th>
        <th> Nome </th>
        <th> Preco </th>
        <th> Mais detalhes </th>
    </tr>
    <tr *ngFor= " let p of produtos ">
        <td> {{ p.id }} </td>
        <td> {{ p.nome }} </td>
        <td> {{ p.preco }} </td>
        <td>
            <!-- <button class="btn btn-info" (click)="editar( p )"> Editar </button> -->
            <a class="btn btn-info mr-2" [routerLink] = "['/produtos', p.id]"> Editar </a>
            <a class="btn btn-danger" (click) = "deletar(p.id)"> Deletar </a>
        </td>
    </tr>
    <!-- <tr>
        <button class="btn btn-primary" [routerLink] = "['/produtos/novo']"> Criar produto </button>
    </tr> -->
</table>

<!-- <div class="row justify-content-center">
    <p>
        <app-produto-detalhe 
        [produtoSelecionadoFilho]="produtoSelecionadoPai" 
        (notificador)="receberEventoPai( $event )"
        ></app-produto-detalhe>
    </p>
</div>

<div [class.alert]="true" [class.alert-primary]="true" role="alert">
    Sem ngClass
</div>

<div [ngClass]="{'alert':isShow, 'alert-primary':true}"
    [ngStyle]="{'display': 'block', 'font-size': '30px'}">
    Com ngClass 
</div>

<div [class]="minhaClasse" role="alert" nfIf="minhaClasse.length > 0" >
    This is an Alert!
</div>

<label class="my-1 mr-2" >Preference</label>
    <select #meuSelect class="custom-select my-1 mr-sm-2" (change)= "onSelectedBox( meuSelect.value) " id="inlineFormCustomSelectPref">
        <option selected> Choose... </option>
        <option value="alert alert-primary"> Primary </option>
        <option value="alert alert-secondary"> Secondary </option>
        <option value="alert alert-warning"> Warning </option>
    </select>

<p> Valor selecionado: {{ meuSelect.value }} </p> -->
